
body {
background: #e6ffff;
}

.container{
padding: 20px;
width: 300px;
margin: 0 auto;
margin-top: 40px;
background: #ccffcc;
border-radius: 5px;}

form {
display: inline-block;
}

input{
padding: 4px 15px 4px 5px;
}

#button{
display: inline-block;
background-color:#003300;
color:#ffffff;
border-radius: 5px;
text-align:center;
margin-top:2px;
padding: 5px 15px;
font-family: 'Oswald', sans-serif;
font-weight: bold;
}

#button:hover{
cursor: pointer;
opacity: .8;}

ol {padding-left: 20px;}

ol li {
  padding: 5px;
  color:#000;
  font-family: 'Nanum Pen Script', cursive;
  font-size: 24px;
}

ol li:nth-child(even){background: #ffffff;}

.strike{text-decoration: line-through;}

li:hover{
  cursor: pointer;
 }

.delete {
	display: none;
}

li > crossOutButton {
	background: none;
	border: none;
	float: right;
	color: #025f70;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 26px;
}

p{
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
}
